.nav-main{
    height: 100vh;
    
   
    align-items: center;
}
/* .nav-left{
  margin-right: 650px;
} */
/* .nav-right>a:hover{
   
    background-color: grey;
    border-radius: 5px;
    line-height: 28px;
  
} */
.nav-right{
    display: flex;
    text-align: center;
    width: 83vw;
    justify-content: flex-end;
   border: 2px solid black;
   padding: 4px;
   text-decoration: none;
   
    
}
.nav-right> a{
    text-decoration: none;
    margin-right: 1rem;
    font-size: 1.1rem;
    padding: 2px;
    
}
.nav-right> a :hover{
    padding: 8px 10px;
    background-color: aqua;
}

/* .nav-right > h4{
    color: black;
    margin-left: 8px;
    margin-top: 5px;
    font-size: large;
    padding: 5px;
 
    

    
} */
.nav-btn{
    border: none;
    text-decoration: none;
    background: transparent;
    color: white;
    background-color: aqua;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 6px 16px;
}
/* .nav-btn>h4 :hover {
    text-align: center;
   
    justify-content: center;
    text-decoration: none;
} */
.nav-btn:hover{
  background-color: aliceblue;
  color: black;
}
.nav-option{
  
    /* margin-right: 8px;
    margin-top: 6px; */
    font-size: 20px;
    font-weight: bolder;
    
    align-items: center;
    
    
}
.nav-clr{
    background-color:#455A64;
}
.nav-brand{
   
  
}

/* .nav-option h4{
    color: rgb(4, 4, 4);
    text-decoration: none;
} */
.nav-img{
    height: 60px;
    width: 340px;
    text-align: end;
}
.dropdown{
    background-color: red;
}

