.advantages{
    display: flex;
    justify-content: center;
    margin-left: 5px;
   
    
}
.advantage-heading{
  border-top: 7px solid gray;
  margin-top: 6rem;
}
.advantage{
    height: 100vh;
    justify-content: center;
    padding: 5px;
    
    
}