.advantages{
    display:flex ;
    justify-content: center;
    /* margin-left: 5px; */
   
    padding: 70px; 
    height: 80vh;

  
  
    
}
.advantage-heading{
  border-top: 7px solid gray;
 
}
.advantage{
    height: 100vh;
    justify-content: center;
    
    margin-top: 30px;
   
   
}