.advantage-image{
    height: 220px;
    
}
.advanture{
    /* margin-right: 3rem; */
   justify-content: center;
    
    margin-bottom: 2rem;
    padding: 70px;
  cursor: pointer;

   
  
}
.card-extra:hover{
    background-color: gray;
    color: white;
}
