.f-image{
    height: 340px;
    width: 270px;
   position: absolute;
   
   
}
.f-name{
    color: red;
    position: relative;
    margin-top: 98px;
   padding: 10px;

  
}

/* .tryy{
  
   color: aqua;
  
} */

.fish-photo{
   margin-left: 13rem;
  
   height: 390px;
   margin-top: 13px;
   
}
.fish-photo:hover{
    opacity: 0.4;
   
   
}
