.nav-main{
    height: 65px;
    background-color: lavender;
    display: flex;
}
.nav-left{
  margin-right: 650px;
}
.nav-right>a:hover{
   
    background-color: grey;
    border-radius: 5px;
    line-height: 28px;
  
}
.nav-right{
    display: flex;
    text-align: center;
    justify-content: center;
   
    width: 40%;
}
.nav-right> a{
    text-decoration: none;
    
}

.nav-right >a> h4{
    color: black;
    margin-left: 8px;
    font-size: large;
    padding: 5px;
 
    

    
}
.nav-img{
    height: 65px;
    width: 250px;
}