.admin-form{
   
  
 padding-top: 110px;
    margin: auto;
}
.admin-heading{
    color: white;
    font-weight: bolder;
    
}
.add-form{
    margin: auto;
}
.add-form input{
    height: 47px;
    width: 50%;
    font-size: 26px;
}

.admin-container{
    padding: 30px;
    background-image: url(../../Image/product3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}